.title {
	height: 30px;
	width: 100px;
	display: inline-block;
	text-align: center;
}
#title {
	text-align: center;
}
.cell {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;
	font-size: 4em;

}
.gameboard {
	text-align: center
}
#usercontrols {
	text-align: center;
	margin-bottom: 10px;
	display: block;
	position:relative;
}

